[submodule "backoffice"]
	path = backoffice
	url = https://github.com/Velana-Payments/backoffice.git
[submodule "admin"]
	path = admin
	url = https://github.com/Velana-Payments/admin.git
[submodule "checkout"]
	path = checkout
	url = https://github.com/Velana-Payments/checkout.git
